  <!-- Header-->
        <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">Our mission is to make connect the tech community to others in a
                                fun and interactive way!.
                            </h1>
                            <a class="btn btn-primary btn-lg" href="#scroll-target">Read my story</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About section one-->
        <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="./assets/me.jpg"
                            alt="Picture of Me" />
                    </div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">My name is Ana Cecilia Flores</h2>
                        <p class="lead fw-normal text-muted mb-0">Web Developer Bootcamp Student at Northwestern <br>
                            On the process of switching careers! <br>
                            🌍 Chicago, IL, USA<br>
                            🌍 Mexicana ⚡ Bilingual<br>
                            🖥️ Visit my Portfolio<br>
                            🖥️ Checkout my LinkedIn<br>
                            ✉️ You can contact me at anacecyflores1@gmail.com<br>
                            🧠 I'm learning HTML, CSS,JavaScript, Node, SQl & Python<br>
                            🤝 I'm open to collaborating on Fullstack Development<br>
                            Skills: Html, CSS, JavaScript, Node.Js, Express.Js, SQL
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section two-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                            src="./assets/about.png" alt="Get Higher image" /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Check out my Portfolio &amp; latest project: Get Higher</h2>
                        <p class="lead fw-normal text-muted mb-0">This project used a Google Job Search API to deliver
                            the job posting feature to the user based on location and career
                            option. Once the user takes our carefully designed personality/aptitude test the user will
                            be recommended a career
                            option that will fit their personality.

                            A key feature of our project is the login portion for the user to keep their progress,
                            information and job interests
                            saved for their next visit which is stored into our very own user information database.

                            The job search api, Google Map, individualized quiz, calendar for reminders and dashboard
                            facilitate the job seeking
                            experience for the user to stay in our site alone instead of navigating through various job
                            sites/applications which
                            creates the “all in one place” feel that will highlight our site over other sites.</p>
                    </div>
                </div>
            </div>
        </section>


